.chartLegendContainer {
  width: 200px;
}

.bc-legend span {
  display: inline-block;
  vertical-align: middle;
}

.bc-legend-color {
  width: 40px;
  height: 20px;
}

.bc-legend-label {
  padding: 0 10px;
}

.bc-y-axis path,
.bc-y-axis .tick line {
  fill: transparent;
}

.bc-x-axis path,
.bc-x-axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.bc-axis text {
  font-family: sans-serif;
  font-size: 11px;
  fill: #888;
}

#tooltip {
  position: absolute;
  text-align: center;
  width: 40px;
  height: auto;
  padding: 10px;
  background-color: white;
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}